<div class="card">
    <div class="card-block">
        <h4 class="card-title">{{ card.name }}</h4>
        <h6 class="card-subtitle mb-2 text-muted">
            {{ card.type }}
            {% if not card.placement is null %}&#9671; {{ card.placement }}{% endif %}
        </h6>

        {% if not card.cost is null %}
            <p class="card-text">Cost: <my-card-text text="<i>{{ card.cost }}</i>"></my-card-text></p>
            {% endif %}

        {% for line in card.text|split("\n") %}
            <my-card-text-block text="{{ line }}"></my-card-text-block>
            {% endfor %}

        {% if card.isUnit %}
            <p class="card-text">Attack {{ card.attack|default('X') }} &#9671; Life {{ card.life|default('X') }} &#9671; Recover {{ card.recover|default('X') }}</p>
        {% endif %}

        {% if card.isPhoenixborn %}
            <p class="card-text">Battlefield {{ card.battlefield }} &#9671; Life {{ card.lifepool }} &#9671; Spellboard {{ card.spellboard }}</p>
        {% endif %} 

        {% if card.isSpellAlteration %}
            <p class="card-text">Attack {{ card.attackMod|default('-') }} &#9671; Life {{ card.lifeMod|default('-') }} &#9671; Recover {{ card.recoverMod|default('-') }}</p>
        {% endif %}    
    </div>
</div>